/*
Copyright © 2020 Aayush Garg. All rights reserved.
Author Gamer-1478
*/

.Aboutme-root {
    background-color: #CABBE9;
    background-image: url(https://cdn.discordapp.com/attachments/840934970548813854/953865747615064074/Path_6.png);
    background-repeat: no-repeat;
    background-size: 185% 60%;
    background-position: -640px 400px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    flex-direction: column;
    display: flex;
}

.aboutme-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-main-content {
    font-size: 1.3rem;
    width: 45vw;
}

.aboutme-header {
    font-size: 4.5rem;
    font-weight: 300;
    padding-top: 2vh;
    color: #2B1D6D;
    opacity: 90%;
    width: 80vw;
}

.line-about {
    content: "";
    display: block;
    height: 1px;
    visibility: visible;
    width: 0;
    transition: all 2s;
    background-color: #2B1D6D;
}

.line-effect-about {
    display: flex;
    align-items: center;
    margin-left: 12rem;
    margin-top: -20px;
}

.circle-about {
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 1px solid #2B1D6D;
    border-radius: 50%;
}

.ohk-root {
    display: flex;
    width: 80vw;
}

.aboutme-container, .aboutme-img-carasol {
    width: 80vw;
    opacity: 0;
    transition: all 2s;
}

@media screen and (max-width: 960px) {
    .about-main-content {
        width: 80vw;
    }

    .Aboutme-root {
        background-image: none;
    }

    .line-effect-about {
        margin-left: 14rem;
    }

    .ohk-root {
        flex-direction: column;
    }
}