.Aboutme-root {
    background-color: #CABBE9;
    background-image: url(https://cdn.discordapp.com/attachments/840934970548813854/953865747615064074/Path_6.png);
    background-repeat: no-repeat;
    background-size: 220% 60%;
    background-position: -65vw 55vh;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
}

.aboutme-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-main-content {
    font-size: 1.3rem;
}

.aboutme-header {
    font-size: 4.5rem;
    font-weight: 300;
    padding-top: 2vh;
    color: #2B1D6D;
    opacity: 90%;
}

.line-about {
    content: "";
    display: block;
    height: 1px;
    visibility: visible;
    width: 20vw;
    background-color: #2B1D6D;
}

.line-effect {
    display: flex;
    align-items: center;
    margin-left: 12rem;
    margin-top: -20px;
}

.circle-about {
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 1px solid #2B1D6D;
    border-radius: 50%;
}

@media screen and (max-width: 960px) {
    .Aboutme-root {
        background-size: 220% 30%;
    }

    .line-effect {
        margin-left: 14rem;
    }

    .ohk-root {
        flex-direction: column;
    }
}