/*
Copyright © 2020 Aayush Garg. All rights reserved.
Author Gamer-1478
*/

.navbar {
    background: transparent;
    color: #000;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: relative;
    top: 0;
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
}

.navbar-logo {
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: flex-start;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 30px;
    list-style: none;
    text-align: center;
    width: 65vw;
    justify-content: end;
    margin-right: 2rem;
}

a.nav-links {
    font-size: 1.4rem;
    color: #000;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    position: relative;
    justify-items: center;
}

a.nav-links:before {
    content: "";
    position: absolute;
    width: 80%;
    height: 3px;
    bottom: 0;
    left: 10%;
    background-color: #A1EAFB;
    visibility: visible;
    transform: scaleX(1);
    transition: all 0.3s ease-in-out;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.nav-links:hover:before {
    width: 40%;
    visibility: visible;
    transform: scaleX(1);
}

.fa-bars {
    color: #000;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
    color: #000;
}

/*  Button Stuff */
.btn--outline {
    font-weight: 200;
    font-size: 1.3rem;
    border: 1px solid;
    padding: 10px;
    width: 160px;
    border-radius: 30px;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
    letter-spacing: 1px;
    cursor: pointer;
    margin-right: 30px;
}

.btn--outline:hover {
    background-image: linear-gradient(#4B89AC, #CABBE9);
    color: #fff;
    font-weight: 200;
    transition: all 0.2s ease-in-out;
}

/* HeroSection Stuff */

.herosection-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.herosection-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.namaste {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -15px;
}

.herosection-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    width: 60%;
}

.social-container img {
    cursor: pointer;
}

.phone-img-land {
    display: none;
}

@media screen and (max-width: 960px) {
    .phone-img-land {
        display: block;
    }

    .lappy-img-land {
        display: none;
    }

    .herosection-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .NavbarItems {
        position: relative;
    }

    a.nav-links:before {
        visibility: hidden;
    }

    a.nav-links:hover:before {
        visibility: hidden;
    }

    .nav-menu {
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 92vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #fff;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: #fff;
        color: #242424;
        border-radius: 0;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: #000;
        font-size: 2rem;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        text-decoration: none;
        font-size: 1.5rem;
        background-color: transparent;
        color: #fff;
        padding: 14px 20px;
        border: 1px solid #fff;
        transition: all 0.3s ease-out;
    }

    .nav-links-mobile:hover {
        background: #fff;
        color: #242424;
        transition: 250ms;
    }
}