/*
Copyright © 2020 Aayush Garg. All rights reserved.
Author Gamer-1478
*/

.project-root {
    background-color: #DBEEF8;
    align-items: center;
    min-height: 100vh;
    position: relative;
    flex-direction: column;
    display: flex;
}

.project-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-main-content {
    font-size: 1.3rem;
    width: 45vw;
}

.project-header {
    font-size: 4.5rem;
    font-weight: 300;
    padding-top: 2vh;
    color: #113466;
    opacity: 90%;
    width: 80vw;
}

.line-project {
    content: "";
    display: block;
    height: 1px;
    visibility: visible;
    width: 0;
    transition: all 2s;
    background-color: #113466;
}

.line-effect-project {
    display: flex;
    align-items: center;
    margin-left: 21rem;
    margin-top: -20px;
}

.circle-project {
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 1px solid #2B1D6D;
    border-radius: 50%;
}

.project-ohk-root {
    display: flex;
    width: 80vw;
}

.project-container, .project-img-carasol {
    width: 80vw;
    opacity: 0;
    transition: all 2s;
}

@media screen and (max-width: 960px) {
    .project-main-content {
        width: 80vw;
    }

    .project-root {
        background-image: none;
    }

    .line-effect-project {
        margin-left: 21rem;
    }

    .project-root {
        flex-direction: column;
    }
}